.products {
    padding: 150px 0;

    &__container{
        @extend %flex-column;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        @include font-setting(36px, 700, calc(44/36*100%), 0.04em);
        margin: 0 0 100px 0;
    }
    
    &__items {
        @extend %flex-between;
        flex-wrap: wrap;
        margin: 0 0 100px 0;
    }

    &__item {
        flex: 0 0 23%;
        @extend %flex-center;
        flex-direction: column;
        position: relative;

        &::before, &::after {
            content: "";
            display: block;
            @include size(100%, 25px);
            background-size: 100% 25px;
            background-repeat: no-repeat;
        }

        &::before {
            background-image: url(..//img/item-top.svg);
            @extend %background-image;
        }

        &::after {
            background-image: url(..//img/item-bottom.svg);
            @extend %background-image;
        }
    }

    &__image {
        margin: 0 0 25px 0;
    }

    
    &__text {
        color: $dark;
        display: inline-block;
        text-align: center;
        transition: all 0.2s ease;

        &:hover {
            color: $accent;
        }
    }

    &__name {
        margin: 0 0 15px 0;
        @include font-setting(14px, 600, calc(17/14*100%), 0);
    }

    &__price {
        @include font-setting(18px, 700, calc(22/18*100%), 0);
        color: $accent;   
    }

}

.products *:last-child {
    margin-bottom: 0;
}