@include breakpoint(sm) {
    .delivery {
        padding: 50px 0;
        
        &__title {
            font-size: 22px;
        }

        &__text {
            font-size: 16px;
        }
    }
}


@include breakpoint(xs) {
    .delivery {
        padding: 50px 0;
        
        &__title {
            font-size: 19px;
        }

        &__text {
            font-size: 14px;
        }
    }
}