@mixin font-setting($font-size, $font-weight, $line-height, $letter-spacing) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}



