

@include breakpoint(md) {
    .collection {

        &__items {
            justify-content: center;
            text-align: center;
        }
        &__item {
            flex-wrap: wrap;
            justify-content: center;
            align-self: center;
        }

        &__text {
            margin: 0 0 25px 0;
        }

        .btn {
            &__xs {
                margin-bottom: 20px;
            }
        }
    }   
}

   
@include breakpoint(sm) {
    .collection {
        padding: 40px 0 0 0;

        &__man {
            padding: 0 15px 0 0;
    
        }
    
        &__woman {
            padding: 0 0 0 15px;
        }

        &__title {
            font-size: 20px;
    
        }
    

        &__text {
            font-size: 14px;
        }

    

    }   
}


@include breakpoint(xs) {
    .collection {

        &__title {
            font-size: 18px;
    
        }

        &__image {

            img {
                width: 150px;
            }
        }
        
    }
}